html,
body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 95%
}

img {
    max-width: 100%;
}

.section-content {
    padding: 5rem 0;
}

#about {
    background: url('img/andreas_daskalopoulos.jpg') center center no-repeat;
    background-size: cover;
    color: white;
}

.about-text {
    background: rgba(0,0,0,0.2);
    color: white;
    padding: 1.875rem;
}

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}